@font-face {
  font-family: Tangerine, serif;
  src: url("Tangerine.otf");
}

:root {
  --primary-white: #ffffeb;
  --primary-black: #000000;
  --font-family-heading: "Tangerine", cursive;
  --font-family-sub-heading: "Syne Mono", monospace;
  --font-family-paragraph: "Red Hat Display", sans-serif;
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--primary-white);
  border: 25px solid #ffffeb;
}

.top-gradient {
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
  padding: 10px;
  max-width: 100%;
}

.logo {
  width: 40px;
}

.logo:hover {
  cursor: context-menu;
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

.navbar {
  margin: 10px 50px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  font-family: var(--font-family-paragraph);
  font-size: 15px;
  font-weight: 500;
  gap: 30px;
  text-align: right;
  text-transform: uppercase;
}

.nav-link {
  color: var(--primary-white);
}

.nav-link:hover {
  color: var(--primary-white);
  cursor: pointer;
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

main {
  margin: 135px 0;
}

.main-headline {
  color: var(--primary-white);
  font-family: var(--font-family-sub-heading);
  font-size: 30px;
  margin-right: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.main-description {
  color: var(--primary-white);
  font-family: var(--font-family-heading);
  font-size: 75px;
  line-height: 0.8;
  text-align: center;
}

.main-headline:hover,
.main-description:hover {
  cursor: context-menu;
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

span {
  color: var(--primary-black);
}

small {
  font-size: 40px;
}

.code-container {
  background: var(--primary-white);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
}

.code-container .row {
  gap: 75px;
  text-align: center;
}

.code-container i {
  font-size: 40px;
}

.code-container i:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

.projects-container {
  background: var(--primary-white);
  display: flex;
  justify-content: center;
  margin: 0;
}

.projects-headline {
  background: var(--primary-white);
  font-family: var(--font-family-heading);
  font-size: 50px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.projects-container .row {
  gap: 50px;
  text-align: center;
}

.project-image {
  max-width: 400px;
  max-height: 200px;
  margin: 30px;
}

.project-headline {
  font-family: var(--font-family-paragraph);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-paragraph {
  font-family: var(--font-family-paragraph);
}

.project-buttons {
  background: var(--primary-black);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: var(--primary-white);
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.75;
  padding: 10px 15px;
  text-decoration: none;
}

.project-buttons:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

@media (max-width: 991.5px) {
  .navbar-nav {
    gap: 5px;
    margin-top: 20px;
  }
}

@media (max-width: 771.5px) {
  .main-description {
    font-size: 55px;
  }
}

@media (max-width: 584.5px) {
  .main-headline {
    font-size: 20px;
  }

  .main-description {
    font-size: 35px;
  }

  small {
    font-size: 25px;
  }
}
