@font-face {
  font-family: Tangerine, serif;
  src: url("Tangerine.otf");
}

:root {
  --primary-black: #000000;
  --primary-white: #ffffeb;
  --font-family-heading: "Tangerine", cursive;
  --font-family-sub-heading: "Syne Mono", monospace;
  --font-family-paragraph: "Red Hat Display", sans-serif;
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--primary-white);
  border: 25px solid #ffffeb;
}

.top-gradient {
  background: linear-gradient(111.4deg, #f6e7b5 0%, #e1aa54 50%, #c25528 100%);
}

.logo {
  max-width: 40px;
}

.logo:hover {
  cursor: context-menu;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  font-family: var(--font-family-paragraph);
  font-size: 15px;
  font-weight: 500;
  gap: 30px;
  text-transform: uppercase;
}

.nav-link {
  color: var(--primary-white);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-white);
  cursor: pointer;
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

.about-nav-link {
  color: var(--primary-black);
}

.about-nav-link:hover {
  color: var(--primary-black);
}

main {
  margin: 135px 0;
}

.main-headline {
  color: var(--primary-white);
  font-family: var(--font-family-sub-heading);
  font-size: 30px;
  text-transform: lowercase;
}

.main-description,
.contact-headline {
  color: var(--primary-white);
  font-family: var(--font-family-heading);
  font-size: 75px;
  line-height: 0.8;
  text-transform: lowercase;
}

.main-headline:hover,
.main-description:hover {
  cursor: context-menu;
}

span {
  color: var(--primary-black);
}

small {
  font-size: 40px;
}

.code-container {
  display: flex;
  justify-content: center;
}

.code-container .row {
  gap: 75px;
}

.code-container i {
  font-size: 40px;
}

.code-container i:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

.preview-container,
.projects-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.previews-headline {
  font-family: var(--font-family-sub-heading);
  font-size: 30px;
  padding: 10px;
  text-transform: lowercase;
}

.preview-container .row,
.projects-container .row {
  gap: 50px;
}

.preview-image {
  max-width: 400px;
  max-height: 200px;
}

.project-image {
  max-width: 300px;
  box-shadow: var(--box-shadow);
}

.project-image:hover {
  transform: scale(1.3);
  transition: all 500ms ease-in-out;
}

.preview-headline,
.project-headline,
.contact-description {
  font-family: var(--font-family-paragraph);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.preview-paragraph,
.project-paragraph,
.contact-paragraph {
  font-family: var(--font-family-paragraph);
}

.buttons {
  background: var(--primary-black);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: var(--primary-white);
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: 500;
  opacity: 0.75;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.buttons:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-container .row {
  align-items: center;
  margin: 0 100px;
}

.about-headline,
.projects-headline {
  color: var(--primary-black);
  font-family: var(--font-family-heading);
  font-size: 50px;
  line-height: 0.8;
  text-transform: lowercase;
}

.about-paragraph,
.project-paragraph {
  font-family: var(--font-family-paragraph);
  opacity: 0.75;
}

.about-paragraph:hover,
.project-paragraph:hover {
  cursor: context-menu;
  opacity: 1;
  transform: scale(1.015);
  transition: all 500ms ease-in-out;
}

.profile-image {
  border-radius: 50% 50% 0 0;
  box-shadow: var(--box-shadow);
  max-width: 325px;
}

.contact-container i {
  font-size: 40px;
}

.contact-container i:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-container .row {
  align-items: center;
  text-align: center;
  gap: 100px;
}

.contact-container a {
  text-decoration: none;
  color: var(--primary-black);
}

@media (max-width: 1150px) {
  .about-headline {
    font-size: 40px;
  }
}

@media (max-width: 991.5px) {
  .navbar-nav {
    gap: 5px;
    margin-top: 20px;
  }

  .main-about {
    margin: 25px 0;
  }

  .about-container .row {
    flex-direction: column-reverse;
  }

  .contact-container .row {
    gap: 0px;
  }
}

@media (max-width: 771.5px) {
  .main-description,
  .contact-headline {
    font-size: 55px;
  }
}

@media (max-width: 695px) {
  .about-headline {
    font-size: 30px;
  }
}

@media (max-width: 584.5px) {
  .main-headline {
    font-size: 20px;
  }

  .main-description,
  .contact-headline {
    font-size: 35px;
  }

  small {
    font-size: 25px;
  }
}
